{{ define "main" }}
<article class="post">
  {{ if eq .Section "blog" }}
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="item-meta">{{ site.Title }} <span class="meta-delimiter">•</span> {{ .Date.Format "1/2/06" }}</div>
  </header>
  {{ end }}
  <div class="post-content">
    {{ .Content }}
  </div>
  {{ with .Params.tags }}
  <div class="post-tags">
    {{ range . }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>{{ end }}
  </div>
  {{ end }}
</article>
{{ if eq .Section "blog" }}
{{ $prev := .PrevInSection }}{{/* PrevInSection = older post */}}
{{ $next := .NextInSection }}{{/* NextInSection = newer post */}}
{{ if or $prev $next }}
<nav class="post-nav">
  <div class="post-nav-prev">
    {{ with $prev }}
    <span class="post-nav-label">← Previous</span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  </div>
  <div class="post-nav-next">
    {{ with $next }}
    <span class="post-nav-label">Next →</span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  </div>
</nav>
{{ end }}
{{ end }}
{{ end }}
