{{ define "main" }}
<div class="blog-list">
  {{ range where site.RegularPages "Section" "blog" }}
  <article class="blog-list-item">
    {{ $img := "" }}
    {{ range (findRE `<img [^>]*src="([^"]+)"` .Content 1) }}
      {{ $img = replaceRE `<img [^>]*src="([^"]+)".*` "$1" . }}
    {{ end }}
    {{ with $img }}
    <a class="item-image" href="{{ $.RelPermalink }}"><img src="{{ . }}" alt="{{ $.Title }}" loading="lazy"></a>
    {{ end }}
    <div class="item-text">
      <div class="item-meta">{{ site.Title }} <span class="meta-delimiter">•</span> {{ .Date.Format "1/2/06" }}</div>
      <h2 class="item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <p class="item-excerpt">{{ .Summary | plainify | safeHTML }}</p>
      <a class="read-more" href="{{ .RelPermalink }}">Read More →</a>
    </div>
  </article>
  {{ end }}
</div>
{{ end }}
